---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2024.5.4
            env:
              ESPHOME_DASHBOARD_USE_PING: true
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 1024M
              limits:
                memory: 2048M
    service:
      main:
        ports:
          http:
            port: 6052
    ingress:
      main:
        enabled: true
        className: nginx
        hosts:
          - host: "esphome.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - "esphome.${SECRET_DOMAIN}"

    persistence:
      config:
        enabled: true
        existingClaim: "esphome-config-v1"
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome