---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      esphome:
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.10.5
            env:
              ESPHOME_DASHBOARD_USE_PING: true
              TZ: ${TIMEZONE}
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 1024M
              limits:
                memory: 2048M
    service:
      app:
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: &esphome-port 6052
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: ESPHome
          gethomepage.dev/description: ESPHome
          gethomepage.dev/icon: esphome.png
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: "http://esphome.home"
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      config:
        existingClaim: esphome-config-v1
        advancedMounts:
          esphome:
            app:
              - path: /config
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /cache
                subPath: cache
