---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: node-exporter
  namespace: monitoring
spec:
  staticConfigs:
    - targets:
        - 192.168.0.1:9273
        - 192.168.30.1:9273
  metricsPath: /metrics
